@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

* {
box-sizing: border-box;
margin: 0;
font-family: prata;
}
.container{
max-width: 1080px;
margin: 0 auto;
}


.header {
background-color: #767676;
padding-top: 36px;
padding-bottom: 200px;
height: 500px;
}
.form-control{
top:200px;
}

.navigation {
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
width: 70px;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: #111;
font-weight: bold;
font-weight: 100%;
}
.navigation-holder {
list-style-type: none;
padding: 0;
display: flex;
flex-grow: 1;
justify-content: space-evenly;
}
.nav-links-1 a {
text-decoration: none;
color: #111;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 14px;
}
.nav-links a {
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 17px;
}

.cover{
position: absolute;
height: 350px;
left: 5%;
right: 5%;
top: 124px;
border-radius: 56px;
background-color: #a2a2a4;
}
.text-1{
position: absolute;
height: 50px;
left: 5%;
right: 5%;
top: 100px;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 70px;
color: #000000;
} 
.text-2{
position: absolute;
left: 5%;
right: 5%;
top: 200px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000
}
.header-title {
margin-top: 110px;
margin-bottom: 80px;
position: relative;
}
.header-subtitle-text {
display: inline-block;
border-left: 1px solid #8c8c8c;
padding: 8px 0 8px 20px;
color: #8c8c8c;
font-weight: bold;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 1.5px;
margin-bottom: 13px;
}
.header-title-text {
font-size: 90px;
font-weight: bold;
color: #fff;
max-width: 620px;
line-height: 1;
}
main{
background-image: url(img/i.webp);
}
.title-1{
text-align: center;
}
.header-info-block{
display: flex;
justify-content: space-between;
}
.card-info{
max-width: 361px;
}

.card-info-img{
display: flex;
}
.info-title{
font-size: 50px;
font-weight: bold;
color: #fff;
letter-spacing: 0.5px;
margin-top: 15px;
margin-bottom: 4px;
}
.info-subtitle{
font-size: 40px;
color: #8c8c8c;
font-weight: bold;
letter-spacing: 1.5px;
display: block;
}

.about-subtitle-text{
display: inline-block;
border-left: 1px solid #fff;
padding: 8px 0 8px 20px;
color: #fff;
font-weight: bold;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 1.5px;
margin-bottom: 13px;
}
.about-desc{
color: #d1d1d1;
max-width: 240px;
font-size: 14px;
line-height: 1.8;
}

.about-title{
font-size: 20px;
font-weight: bold;
color: #fff;
letter-spacing: 0.5px;
margin-top: 15px;
margin-bottom: 4px;
text-align: center;
}
.about-subtitle{
font-size: 13px;
color: #8c8c8c;
font-weight: bold;
letter-spacing: 1.5px;
text-align: center;
display: block;
}

.control{
position: absolute;
right: 0;
bottom: 0;
}
.control i {
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.25rem;
background-color: #febe02;
color: #1a1a1a;
cursor: pointer;
}


.course-section-title{
font-weight: 600;
font-size: 70px;
color: #1a1a1a;
margin: 60px 0;
}
.course-row{
display: flex;
justify-content: space-between;
margin-bottom: 60px;
}

.card-big{
width: 540px;
}
.card-small{
width: 360px;
}

.img-container{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 360px;
display: flex;
flex-direction: row;
align-items: flex-end;
padding-bottom: 20px;
padding-left: 20px;
}
.img-card-1{background-image: url(img/iphone.avif)}

.course-category{
font-size: 13px;
letter-spacing: 2px;
color: #bababa;
font-weight: 400;
margin: 18px 0;
}
.course-title{
font-size: 35px;
font-weight: bold;
letter-spacing: 0.3px;
color: #1a1a1a;
margin-bottom: 20px;
}
.course-desc{
font-size: 16px;
font-weight: 400;
color: #767676;
line-height: 1.7;
letter-spacing: 0.5px;
}

.img-card-2{background-image: url(img/samsung.avif);}

.img-card-3{background-image: url(img/alice.avif);}

.img-card-4{background-image: url(img/watch.avif);}


.foother{
    background-color: #767676;
    padding: 60px 0;
    }
    .course-info-titile{
    font-weight: 800;
    font-size: 90px;
    color: #1a1a1a;
    padding-bottom: 40px;
    }
    
    .foother-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #939495;
    padding: 30px 0;
    }
    .left-block{
    display: flex;
    align-items: center;
    }
    .course-number{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #a2a2a4;
    }
     
    .course-block{
    margin-left: 60px;
    line-height: 1.5;
    }
    .course-name{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.8px;
    color: #000000;
    }
    .course-count{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9a9a9b;
    }




    @media (max-width: 1120px) {
    .container{
    padding: 0 20px;
    }
    }
    @media (max-width: 992px) {
    .header-info-block {
    flex-direction: column;
    }
    .card-about {
    align-self: flex-end;
    margin-top: 60px;
    }
    .audio-container {
    order: -1;
    }
    .course-row {
    flex-wrap: wrap;
    margin-bottom: 0;
    }
    .course-card {
    display: flex;
    margin-bottom: 60px;
    }
    .card-big, .card-small {
    width: 100%;
    }
    .img-container, .info-container {
    width: 50%;
    }
    .img-card-1, .img-card-3 {
    margin-right: 40px;
    }
    .img-card-2, .img-card-4 {
    order: 2;
    margin-left: 40px;
    }
    }
    @media (max-width: 756px) {
    .course-card {
    flex-direction: column;
    }
    .img-card-1, .img-card-2, .img-card-3, .img-card-4 {
    margin: 0;
    }
    .img-container, .info-container {
    width: 100%;
    }
    .img-card-2, .img-card-4 {
    order: -1;
    }
    }
    @media (max-width: 578px) {

    .navigation-holder {
    display: none;
    }
    .mob-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 60px;
    color: #fff;
    }
    .header-title-text {
    font-size: 60px;
    }
    .card-info-img {
    max-width: 100%;
    }
    .control {
    height: 48px;
    }
    .course-name {
    font-size: 24px;
    }
    }